{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Alicious Florist</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-[#FAFAD2] flex flex-col">
  <div class="p-2 mb-7 relative">
    <!-- Greeting message image on the right -->
    <div class="flex items-center justify-center">
      <img src="{% static 'image/greeting.png' %}" alt="Greeting Message" class="w-50 h-auto">
    </div>
    <div class="grid place-items-center justify-center">
      <!-- Combined NPM, Name, and Class into one block on the left -->
      <div class="col-span-3 md:col-span-1">
        <div class="w-64 p-4 bg-pink-200 rounded-lg shadow-lg">
          <p class="text-lg font-bold text-gray-700">Name: {{ name }}</p>
          <p class="text-lg font-bold text-gray-700">NPM: {{ npm }}</p>
          <p class="text-lg font-bold text-gray-700">Class: {{ class }}</p>
        </div>
      </div>
    </div>  
  </div>

  <!-- Last Login Section -->
  <div class="grid place-items-center justify-center mb-6">
    <div class="flex rounded-md items-center bg-[#FF69B4] py-3 px-4 w-fit">
      <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
    </div>
  </div>

  <!-- Add New Flower Entry Button -->
  <div class="grid place-items-center justify-center mb-14">
    <a href="{% url 'main:create_flower' %}" class="bg-pink-600 hover:bg-pink-700 text-white font-bold py-1/2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Flower Entry
    </a>
  </div>
    
  {% if not flower_entries %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
    <p class="text-center text-gray-600 mt-4">Belum ada data bunga pada Alicious Flower.</p>
  </div>
  {% else %}
  <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
    {% for flower_entry in flower_entries %}
      {% include 'card_flower.html' with flower_entry=flower_entry %}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
